<div>
  <h3>Comments</h3>
  <div class="commBtns">
      <div class="refresh btn btn-primary" ng-click="ctrl.getComments(poll)"><i class="fa fa-refresh fa3x"></i></div>
      <div class="create btn btn-default" ng-click="ctrl.createComment()"><i class="fa fa-pencil-square-o fa3x"></i></div>
    </div>
  <div class="createCommDiv" ng-show="ctrl.showCreateComm">

      <input type="text" ng-model="ctrl.inputComment" />
      <div class="btn btn-success" ng-click="ctrl.postComment()">Submit</div>
    </div>
  <div class="commentDiv">

      <div ng-repeat="comment in ctrl.comments">
        {{comment.body}}
        {{comment.author.name}}

    </div>
  </div>
</div>

