<div ng-include="'components/navbar/navbar.html'"></div>
<div class="text-center">
  <h1>Dashboard</h1>

  <div class="showPollsBtn btn btn-primary" ng-click="getOwn()">
    Show My Polls
  </div>
  <div class="showCreateBtn btn btn-primary" ng-click="getCreate()">
    Create New Polls
  </div>

  <div ng-show="showOwn" >
    <div ng-repeat="poll in polls">
      {{poll.question}}
      {{poll.chart}}
      <canvas id="doughnut" class="chart chart-doughnut" data="poll.chart.data" labels="poll.chart.labels" legend="true">

      </canvas>

    </div>
  </div>
  <div ng-show="showCreate" class="confBtns">
    <div class="createButton btn btn-primary" ng-click="savePoll()" >
      Create Poll
    </div>
    <div class="addOption btn btn-success" ng-click="addChoice()">
      Add Choice
    </div>
    <div class="forms">
      <div class="form-group">
        <label for="question">Question:</label>
        <input id="question" class="form-control" type="text" ng-model="subject" placeholder="What would you like to ask?" />
      </div>
      <div class="choices" ng-repeat="choice in choices">
        <label for="choice">Choice {{$index+1}}: </label>
        <div class="input-group">
          <input class="form-control" id="choice" type="text" ng-model="choice.name"/>
          <div class="input-group-addon" ng-click="removeChoice($index)"><i class="fa fa-close"></i></div>
        </div>

      </div>
    </div>

  </div>
</div>
